@model DemoEF.Models.DataPage1

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Todos[0].Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Todos[0].Fait)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Todos[0].DateExecution)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Todos) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fait)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateExecution)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
